{{#section 'title'}}Rekeningoverzicht{{/section}}

{{#section 'style'}}
<style>
    .balance {
        margin-bottom: 100px;
    }

    .balance span.show-graph {
        width: 20px;
    }

    .balance .label {
        width: calc(40% - 20px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .balance .row > *, .balance .total > * {
        padding: 0;
    }

    .balance .currency {
        width: 20px;
        text-align: center;
    }

    .balance .start-amount, .balance .end-amount, .balance .budget {
        width: calc(20% - 20px);
        text-align: right;
    }

    .balance .budget, .balance .budget-currency {
        color: var(--main-disabled-color);
    }

    .graph-container {
        height: 200px
    }

</style>
{{/section}}

<div class="content">
    <div class="graph-container">
        <canvas class="graph"></canvas>
    </div>
    <div class="date-input">
        <input type="date" class="from" />
        <input type="date" class="to" />
    </div>
    <div class="date-buttons">
        <button class="last-month">Vorige maand</button>
        <button class="this-month">Deze maand</button>
    </div>

    <h2>Resultaat</h2>
    <div class="balance"></div>
    <h2>Balans</h2>
    <div class="balance"></div>
</div>

<template class="account-overview">
    <div class="balance">
        <div class="balance-body">
            <span class="header left"></span>
            <span class="header right"></span>
            <div class="accounts left"></div>
            <div class="accounts right"></div>
            <div class="total left"><span class="show-graph"></span><span class="label">Totaal: </span><span class="currency">&euro;</span><span class="start-amount"></span><span class="currency">&euro;</span><span class="end-amount"></span><span class="currency">&euro;</span><span class="budget"></span></div>
            <div class="total right"><span class="show-graph"></span><span class="label">Totaal: </span><span class="currency">&euro;</span><span class="start-amount"></span><span class="currency">&euro;</span><span class="end-amount"></span><span class="currency">&euro;</span><span class="budget"></span></div>
        </div>
    </div>
</template>

<template class="account-overview-row">
    <span class="row clickable">
        <span class="show-graph"><input type="checkbox" class="show-graph" /></span><span class="label"></span><span class="currency">&euro;</span><span class="start-amount"></span><span class="currency">&euro;</span><span class="end-amount"></span><span class="currency">&euro;</span><span class="budget"></span>
    </span>
</template>

{{#section 'scripts'}}
    <script>
        let period_start = new Date("{{session.financial_period.start_date}}");
        let period_end = new Date("{{session.financial_period.end_date}}");
    </script>
    <script src="/js/account-overview.js" type="module"></script>
{{/section}}