{{#section 'title'}}Rekeningoverzicht{{/section}}

{{#section 'style'}}
<style>
    .balance {
        margin-bottom: 100px;
    }

    .balance .label {
        width: 50%;
    }

    .balance .currency, .balance .budget-currency {
        width: 10%;
    }

    .balance .amount, .balance .budget {
        width: 15%;
        text-align: right;
    }

    .balance .budget, .balance .budget-currency {
        color: var(--main-disabled-color);
    }
</style>
{{/section}}

<div class="content">
    <h2>Resultaat</h2>
    <div class="balance"></div>
    <h2>Balans</h2>
    <div class="balance"></div>
</div>

<template class="account-overview-row">
    <span class="row">
        <span class="label"></span><span class="currency">&euro;</span><span class="amount"></span><span class="budget-currency">&euro;</span><span class="budget"></span>
    </span>
</template>

{{#section 'scripts'}}
    <script src="/js/account-overview.js" type="module"></script>
{{/section}}