{{#section 'title'}}Grootboekrekeningen{{/section}}

<style>
    table,
    input {
        width: 100%;
    }

    main {
        background-color: var(--main-bg-color);
    }

    details {
        margin-bottom: 10px;
        padding: 5px 10px;
    }

    summary {
        cursor: pointer;
    }

    details p {
        margin: 0;
        margin-top: 5px;
    }
</style>

<details>
    <summary>
        Uitleg
    </summary>
    <p>Alle uitgaven, inkomsten, bezittingen en schulden kun je categoriseren in <i>grootboekrekeningen</i>. Bijvoorbeeld "Bankrekening", "Abonnementen", "Eten", "Nog te ontvangen tikkies" etc. Vul hieronder de eerste grootboekrekeningen in die je wilt gaan gebruiken. Merk op: dit is de enige keer dat je grootboekrekeningen met een beginwaarde kunt toevoegen (zoals bankrekeningen en schulden). Later kun je nog wel nieuwe grootboekrekeningen toevoegen, maar die beginnen dan op &euro;&nbsp;0,-.</p>
    <p>Het nummer van een grootboekrekening is een snelle manier om aan de rekening te refereren. Ook bepaalt dit nummer de plaats waar deze in het overzicht verschijnt. De grootboeknummers 1000-1999 verschijnen als inkomsten, de grootboeknummers 2000-2999 als uitgaven, 3000-3999 als bezittingen en 4000-4999 als schulden.</p>
    <p>De beginwaarde is de waarde die de grootboekrekening aan het begin van het boekjaar heeft. Bijvoorbeeld de hoogte van de schuld, de hoeveelheid geld die je voor een bepaald doel hebt gespaard, of de hoeveelheid geld op de bankrekening.</p>
    <p>Vink het vakje onder "bank" aan als het specifiek om een bankrekening gaat. Dan krijgt die een aparte behandeling (zoals de mogelijkheid om een transactieoverzicht van de bank in te lezen).</p>
</details>

<table class="data">
    <thead>
        <tr>
            <th>In dit boekjaar</th>
            <th>Nummer</th>
            <th>Naam</th>
            <th>Beginwaarde</th>
            <th>Budget</th>
            <th></th><!--<th>Categorie</th>-->
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <td><input type="checkbox" checked disabled /></td>
            <td><input type="number" class="number" /></td>
            <td><input type="text" class="name" /></td>
            <td><input type="text" class="start-amount" disabled value="0.00" /></td>
            <td><input type="text" class="budget" value="0.00" /></td>
            <td><span class="material-symbols-outlined add clickable">save</span></td>
        </tr>
    </tfoot>
</table>

<template class="data-row">
    <tr>
        <td><input type="checkbox" class="enabled" disabled /></td>
        <td class="number"></td>
        <td class="name"></td>
        <td class="start-amount"></td>
        <td class="budget"></td>
        <td class="events">
            <span class="material-symbols-outlined edit clickable">edit</span>
            <span class="material-symbols-outlined delete clickable">delete</span>
        </td>
    </tr>
</template>

<template class="edit-row">
    <tr>
        <td><input type="checkbox" class="enabled" /></td>
        <td><input type="number" class="number" /></td>
        <td><input type="text" class="name" /></td>
        <td><input type="text" class="start-amount" disabled /></td>
        <td><input type="text" class="budget" /></td>
        <td><span class="material-symbols-outlined save clickable">save</span></td>
    </tr>
</template>

{{#section 'scripts'}}
<script type="module" src="/js/accounts.js"></script>
{{/section}}