{{#section 'title'}}Rekeningoverzicht{{/section}}

{{#section 'style'}}
<style>
    .balance {
        margin-bottom: 100px;
    }
</style>
{{/section}}

<div class="content">
    <h2>Resultaat</h2>
    <div class="balance"></div>
    <h2>Balans</h2>
    <div class="balance"></div>
</div>

<template class="account-row-template">
    <div class="account clickable"><span class="label"></span><span class="amount"></span></div>
</template>

{{#section 'scripts'}}
    <script src="/js/account-overview.js" type="module"></script>
{{/section}}