{{#section 'title'}}Transactie Inplannen{{/section}}

{{#section 'scripts'}}
<script src="/js/add-planned-transaction.js" type="module"></script>
{{/section}}

<div class="content">
    <div class="transactions"></div>
</div>

<template class="planned-transaction">
    <div class="transaction">
        <p><span class="date"></span>: <span class="description"></span></p>
        <p>Iedere <span class="period"></span> <span class="period-unit"></span></p>
        <span class="bank-transaction"></span>
    </div>
</template>
