{{#section 'title'}}Transactie toevoegen{{/section}}

{{#section 'scripts'}}
<script src="/js/add-transaction.js" type="module"></script>
{{/section}}

<div class="content">
    <div class="transactions"></div>
</div>

<template class="transaction-template">
    <div class="transaction">
        <div class="transaction-content">
            <p><span class="date"></span>: <span class="description" contenteditable="plaintext-only"></span></p>
            <table class="mutations">
                <thead><tr><th>Post debet</th><th>Bedrag</th><th>Post credit</th><th>Bedrag</th></tr></thead>
                <tbody></tbody>
                <tfoot><tr><td>Totaal:</td><td>&euro;&nbsp;<span class="total-debit"></span></td><td>Totaal:</td><td>&euro;&nbsp;<span class="total-credit"></span></td></tr></tfoot>
            </table>
        </div>
        <div class="buttons">
            <span class="material-symbols-outlined">save</span>
        </div>
    </div>
</template>
