{{#section 'title'}}Transacties verwerken{{/section}}

{{#section 'style'}}
    <link rel="stylesheet" href="/css/process-transactions.css" />
{{/section}}

<div class="content"></div>

{{#section 'scripts'}}
    <script src="/js/process-transactions.js" type="module"></script>
{{/section}}