{{#section 'title'}}Transactieoverzicht{{/section}}

{{#section 'scripts'}}
<script>let id = {{#if id}}{{id}}{{else}}null{{/if}};</script>
<script src="/js/transaction-overview.js" type="module"></script>
{{/section}}

<div class="content"></div>
