{{#section 'title'}}Transacties uploaden{{/section}}

<style>
    main {
        background-color: var(--main-bg-color);
    }

    input, select, .selectize-input, .selectize-input.full {
        width: 100%;
        margin-top: 5px;
    }
    
    form {
        max-width: 700px;
        margin: auto;
    }
</style>

<form method="POST" action="api/upload-transactions" enctype="multipart/form-data">
    <input type="file" name="transactions" accept="application/zip, text/csv, application/vnd.ms-excel" required /><br />
    <div class="account"></div>
    <input type="submit" value="Uploaden" /><br />
</form>

{{#section 'scripts'}}
    <script src="/js/upload-transactions.js" type="module"></script>
{{/section}}