.transaction .postpone {
    position: relative;
    height: 24px;
    margin-top: 5px;
    text-align: center;
}

.transaction .postpone-block {
    background-color: var(--heading-bg-color);
    display: inline-block;
    border-radius: 5px;
    padding-left: 12px;
}

.transaction .postpone-block * {
    vertical-align: middle;
}

.transaction .postpone .postpone-text {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}