* {
    box-sizing: border-box;
}

html {
    font-family: Roboto;
    font-size: 14px;

    --heading-bg-color: #8C694A;
    --heading-fg-color: #D9B88F;
    --main-bg-color: #A0B9D9;
    --main-input-color: #CEDEF2;
    --main-disabled-color: #8D9AA6;
}

body {
    display: grid;
    grid-template-columns: 270px 1fr;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background-color: var(--main-input-color);
}

header {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    background: var(--heading-bg-color);
    z-index: 1;
}

.backup-banner {
    display: block;
    text-align: center;
    padding: 40vh 0;
    color: black;
    font-size: 5em;
    background-color: var(--heading-fg-color);
    width: calc(100vw - 270px);
    height: 100vh;
    position: fixed;
    opacity: .7;
    z-index: 2;
}

main {
    overflow-y: auto;
}

header nav li {
    padding: 10px;
    list-style-type: none;
}

header nav li.current {
    background-color: var(--heading-fg-color);
}

header nav a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.error {
    color: var(--heading-bg-color);
}

button, button.material-symbols-outlined {
    font-size: 13px;
    height: 22px;
    vertical-align: middle;
}

.material-symbols-outlined.clickable {
    cursor: pointer;
    background-color: var(--heading-bg-color);
    vertical-align: middle;
    border-radius: 5px;
}

.clickable:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
    cursor: pointer;
}

input, select, .selectize-input, .selectize-dropdown, .selectize-input.full {
    box-shadow: none;
    border: none;
    font-size: 14px;
    line-height: 19px;

    display: inline-block;
    color: #303030;
    font-family: inherit;
}

input:not([type="checkbox"]), select, .selectize-input, .selectize-input.full, [contenteditable="plaintext-only"] {
    padding: 0px 10px;
    background-color: var(--main-input-color);
    border-radius: 3px;
    height: 20px;
}

input:disabled, .selectize-control .selectize-input.disabled {
    background: var(--main-disabled-color);
    opacity: 1;
}

span.financial-period-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.balance-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.balance .header, .balance .row > *, .balance .total > * {
    display: inline-block;
    padding: 0px 10px;
}

.balance .header {
    font-weight: bold;
}

.balance .label {
    width: 70%;
}

.balance .currency {
    width: 10%;
}

.balance .amount {
    width: 20%;
    text-align: right;
}

.transaction {
    margin-bottom: 5px;
    padding: 15px 25px;
    background: var(--main-bg-color);
}

.transaction .description {
    padding: 2px;
}
